body {
  background-color: black;
  opacity: 0.9;
  font-family: Helvetica;
  font-size: 22px;
  margin-left: 0px;
}

header {
  display:flex;
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  background-color: black;
  width: 100%;
  align-items:center;
  justify-content: space-between;
  top: 0px;
}

.logo {
  padding-left: 10px;
}

.logo img {
  height: 50px;
}

nav span {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

nav span a {
  color:seashell;
  text-decoration: underline;
}

#mission {
  background-image: url("../images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  position: relative;
  display:flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  top:35px;
}

.statement {
  background-color:black;
  color: seashell;
  width:100%;
  text-align: center;
}

#featured {
  position: relative;
  padding-top: 70px;
}

.contents {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.tea {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.tea_photo {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.tea h4 {
  color: White;
  text-align: center;
  margin-top: 0px;
}

.photos {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#locations {
  position:relative;
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

#locations h2 {
  color: white;
  text-align: center;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.boxes {
  display:flex;
  justify-content: center;
  margin-top:0px;
}

.box {
  height: 300px;
  width: 300px;
  color: white;
  background-color: black;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 1;
}

#contact {
  height: 200px;
  color: white;
  position: relative;
  text-align: center;
}

footer h5 {
  color: White;
  padding-left: 0px;
  margin-left: 20px;
}
